.background {
    background-image: url("../resources/gallery/Kitchen_Background_Future.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.puzzle-container {
    width: calc(min(100vw / 1920, 100vh / 1080) * 260);
    height: auto;
    position: absolute;
    bottom: 2%;
    left: 33%;
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
}

.puzzle-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#puzzle-pieces:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}

.cardgame-container {
    width: calc(min(100vw / 1920, 100vh / 1080) * 200);
    height: auto;
    position: absolute;
    bottom: 31.5%;
    right: 28.7%;
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;
}

.cardgame-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#cardgame:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}

.arrow-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
}

.left-button {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.right-button {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
