body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    background-color: black;
}

.main-container {
    height: 100vh;
    width: 100%;
}

.background {
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 1920);
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * 1080);
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}


/*les boutons flèche */
.arrow-button {
    position: fixed;
    top: 50%;
    width: 35px; 
    height: 25px; 
    cursor: pointer;
    transition: transform 0.2s;
}

/* Flèche vers la gauche */
.left-button {
    left: 30px;
}

.left-button::before, .left-button::after {
    content: '';
    position: absolute;
}

.left-button::before {
    width: 0;
    height: 0;
    border-top: 35px solid transparent; 
    border-bottom: 35px solid transparent; 
    border-right: 35px solid rgb(115, 18, 128); 
    left: 10px;
    top: -21px;
}

.left-button::after {
    width: 55px; 
    height: 30px;
    background-color: rgb(115, 18, 128);
    left: 25px;
    top: -2px;
}

/* Flèche vers la droite */
.right-button {
    right: 30px;
}

.right-button::before, .right-button::after {
    content: '';
    position: absolute;
}

.right-button::before {
    /* Triangle pour la pointe de la flèche droite */
    width: 0;
    height: 0;
    border-top: 35px solid transparent; 
    border-bottom: 35px solid transparent; 
    border-left: 35px solid rgb(115, 18, 128); 
    right: 10px;
    top: -21px; 
}

.right-button::after {
    width: 55px; 
    height: 30px;
    background-color: rgb(115, 18, 128);
    right: 25px;
    top: -2px;
}


.left-button:hover::before {
    border-right-color: rgb(147, 21, 163);
}

.left-button:hover::after {
    background-color: rgb(147, 21, 163);
}

.right-button:hover::before {
    border-left-color: rgb(147, 21, 163);
}

.right-button:hover::after {
    background-color: rgb(147, 21, 163);
}