*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../resources/gallery/livingroom_background.png");
}
/* Tjr un problème sur la taille de l'image*/

/*les boutons flèche*/
.arrow-button {
    position: fixed;
    top: 50%;
    width: 35px; 
    height: 25px; 
    cursor: pointer;
    transition: transform 0.2s;
}


.left-button {
    left: 30px;
}

.left-button::before, .left-button::after {
    content: '';
    position: absolute;
}

.left-button::before {
    width: 0;
    height: 0;
    border-top: 35px solid transparent; 
    border-bottom: 35px solid transparent; 
    border-right: 35px solid rgb(115, 18, 128); 
    left: 10px;
    top: -21px;
}

.left-button::after {
    width: 55px; 
    height: 30px;
    background-color: rgb(115, 18, 128);
    left: 25px;
    top: -2px;
}


.right-button {
    right: 30px;
}

.right-button::before, .right-button::after {
    content: '';
    position: absolute;
}

.right-button::before {
    width: 0;
    height: 0;
    border-top: 35px solid transparent; 
    border-bottom: 35px solid transparent; 
    border-left: 35px solid rgb(115, 18, 128); 
    right: 10px;
    top: -21px; 
}

.right-button::after {
    width: 55px; 
    height: 30px;
    background-color: rgb(115, 18, 128);
    right: 25px;
    top: -2px;
}


.left-button:hover::before {
    border-right-color: rgb(147, 21, 163);
}

.left-button:hover::after {
    background-color: rgb(147, 21, 163);
}

.right-button:hover::before {
    border-left-color: rgb(147, 21, 163);
}

.right-button:hover::after {
    background-color: rgb(147, 21, 163);
}

/*indice skull*/
.skull-container {
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 115);
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto);
    position: absolute;
    top: 21.8%;
    left: 32.3%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.skull-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#skull:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}

/*indice picture*/
.picture-container {
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 305);
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto);
    position: absolute;
    top: 10.7%;
    left: 43%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.picture-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#picture:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}

/*indice key*/
.keys-container {
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 95);
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto);
    position: absolute;
    top: 46.7%;
    left: 37.2%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.keys-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#keys:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}

/*indice mirror*/
.mirror-container {
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 175);
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto);
    position: absolute;
    top: 32.4%;
    left: 12%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.mirror-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#mirror:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}