body {
    font-family: 'Mary Kate';
    font-size: 16px;
    background-color: rgb(93, 22, 129);
    color: rgb(181, 193, 53);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .credits-container {
    color: rgb(181, 193, 53);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .credits {
    color: rgb(181, 193, 53);
    position: absolute;
    bottom: -300%;
    text-align: center;
    animation: scroll 30s linear 1;
  }
  
  @keyframes scroll {
    0% {
      bottom: -200%;
    }
  
    100% {
      bottom: 100%;
    }
  }
  
  h2 {
    margin: 0;
    padding: 0.5em;
    font-size: 4em;
    text-transform: uppercase;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: 2em;
    margin: 0.5em;
  }