
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, img {
  height: 100%;
  overflow: hidden; /* Prevents scrolling */
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  background-image: url('./assets/background_hangman.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* Transparent black band at the top */


.game-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 15vh; /* Adjust the value as needed */
}

  #word-display {
    font-size: 24px;
    letter-spacing: 10px;
    margin: 20px 0;
  }
  
  #guess-input {
    font-size: 18px;
    padding: 5px;
    margin-right:10px;
  }
  
  #message {
    color: rgb(129, 14, 14);
    margin-top: 10px;
  }
  
  #hangman-drawing {
    position: relative;
    height: 250px;
    width: 150px;
    margin: 20px auto;
  }
  
  .part {
    display: none;
    position: absolute;
  }
  
  #base {
    width: 100px;
    height: 10px;
    background-color: black;
    bottom: 0;
    left: 25px;
  }
  
  #pole {
    width: 10px;
    height: 200px;
    background-color: black;
    bottom: 10px;
    left: 50px;
  }
  
  #beam {
    width: 75px;
    height: 10px;
    background-color: black;
    top: 30px;
    left: 50px;
  }
  
  #rope {
    width: 5px;
    height: 30px;
    background-color: black;
    top: 30px;
    left: 115px;
  }
  
  #head {
    width: 30px;
    height: 30px;
    border: 5px solid black;
    border-radius: 50%;
    top: 60px;
    left: 102px;
  }
  
  #body {
    width: 5px;
    height: 45px;
    background-color: black;
    top: 90px;
    left: 115px;
  }
  
  #left-arm, #right-arm {
    width: 40px;
    height: 5px;
    background-color: black;
    top: 100px;
  }
  
  #left-arm {
    left: 80px;
    transform: rotate(-30deg);
  }
  
  #right-arm {
    left: 115px;
    transform: rotate(30deg);
  }
  
  #left-leg, #right-leg {
    width: 40px;
    height: 5px;
    background-color: black;
    top: 140px;
  }
  
  #left-leg {
    left: 80px;
    transform: rotate(-30deg);
  }
  
  #right-leg {
    left: 115px;
    transform: rotate(30deg);
  }
  
  #left-foot, #right-foot {
    width: 20px;
    height: 5px;
    background-color: black;
    top: 200px;
  }

  /* Pop up info page*/
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  width: 500px;
  height: 500px;
  background: #2e2a24;
  border: 2px solid #68396d;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif; 
}

.popup h2 {
  text-align: center;
  font-family: Arial, sans-serif; 
  margin: 0 0 20px;
  font-size: 20px;
  color: #c3a5cd;
}

.popup img {
  max-width: 65%;
  max-height: 65%; 
  object-fit: contain; 
  margin: 0 auto;
  border-radius: 5px;
}

.popup-text {
  margin: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  color: rgb(243, 227, 242);
}

.popup-text span {
  background-color: #aa85aa;
  color: #e8d8e0;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: bold;
  font-family: Arial, sans-serif; 
}

.popup-footer {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.popup-footer button {
  width: 20%; 
  height: 40px;
  font-size: 16px;
  color: #fff;
  background-color: #69326e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.popup-footer button:hover {
  background-color: #a34a94;
}

    /* Style for the cross button */
    .close-button {
      position: fixed;
      top: 10px;
      right: 20px;
      width: 50px;  
      height: 50px; 
      font-size: 200%;
      font-weight: 500;  
      color: black;
      background-color:rgba(178, 111, 199, 0.637);
      border: 2px solid rgba(138, 79, 156, 0.452);
      border-radius: 50%; 
      cursor: pointer;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s, color 0.3s;
    }
    .close-button:hover {
      background-color: rgba(129, 78, 145, 0.637);
      color: #fff;
      border-color: rgba(114, 71, 128, 0.637);
    }


    /* Style for the info button */
    .info-button{
      position: fixed;
      top: 10px;
      right: 80px;
      width: 50px;  
      height: 50px;
      font-size: 200%;
      font-weight: 700; 
      color: black;
      background-color:rgba(178, 111, 199, 0.637);
      border: 2px solid rgba(138, 79, 156, 0.452);
      border-radius: 50%; 
      cursor: pointer;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s, color 0.3s;

    }
    .info-button:hover {
      background-color: rgba(129, 78, 145, 0.637);
      color: #fff;
      border-color: rgba(114, 71, 128, 0.637);
    }

/* Style for the New Word button */
.new-word-button {
  display: none; 
  width: 60px;
  height: 60px;
  background-color: rgba(178, 111, 199, 0.637);
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  position: fixed; /* Fixed position to the bottom-right */
  bottom: 5%;
  right: 2%;
  transition: background-color 0.3s;
}

.new-word-button:hover {
  background-color: rgba(129, 78, 145, 0.637);
}

/* When button is visible */
.new-word-button.show {
  display: block;
}