.background{
    background-image: url("../resources/gallery/bedroom_background.png");
}

.hangman-container{
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 180); /* Set width based on the formula */
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto); /* Adjust height */
    position: absolute; 
    top: 28%;
    left: 23%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.hangman-container img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

.hangman-container img:hover {
    filter: drop-shadow(0 0 10px rgba(201, 152, 25, 0.452));
    transform: scale(1.1);
}

.gameplate-container{
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 180); /* Set width based on the formula */
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto); /* Adjust height */
    position: absolute; 
    top: 57%;
    left: 55%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.gameplate-container img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

.gameplate-container img:hover {
    filter: drop-shadow(0 0 10px rgba(201, 152, 25, 0.452));
    transform: scale(1.1);
}


/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hangman {
    width: 150px;
    height: 150px;
    display: flex;
    position: relative; 
}

.hangman img {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 220px; 
    left: 300px;  
}
.hangman:hover {
    width: 155px;
    height: 155px;
    transition: all 0.3s;
}
.hangman img:hover {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 10px rgba(201, 152, 25, 0.452));
}
*/

/*indice bed*/
.bed-container {
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 605);
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto);
    position: absolute;
    bottom: 3%;
    left: 17.8%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.bed-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#bed:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}

/*indice bear*/
.bear-container {
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 80);
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto);
    position: absolute;
    bottom: 32.2%;
    right: 23.4%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.bear-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#bear:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}

/*indice blanket*/
.blanket-container {
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 95);
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto);
    position: absolute;
    bottom: 12%;
    right: 22.9%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.blanket-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#blanket:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}

/*indice books*/
.books-container {
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 135);
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto);
    position: absolute;
    top: 31.5%;
    right: 23%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.books-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#books:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}

/*indice calendar*/
.calendar-container {
    width: calc(min(1px, 100vw / 1920, 100vh / 1080) * 130);
    height: calc(min(1px, 100vw / 1920, 100vh / 1080) * auto);
    position: absolute;
    bottom: 39.5%;
    left: 19.2%;
    transition: filter 0.1s ease, transform 0.1s ease;
    cursor: pointer;
}

.calendar-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#calendar:hover {
    filter: drop-shadow(0 0 5px #ff9900);
    transform: scale(1.05);
}