
.topnavbar {
    background-color: rgb(69, 28, 28);
    height: 70px;
    border-bottom: 5px solid rgb(35, 2, 2);
    display: flex;
    justify-content: flex-end; /* Place les éléments à droite */
    align-items: center; /* Aligne verticalement au centre */
}


button {
    margin-right: 20px; /* Ajoute un espace entre les boutons et le bord droit */
    width: 50px;
    height: 50px; 
    border-radius: 100px;
    color: chocolate;
    border-color: chocolate;
    background-color: rgb(75, 20, 20);
    cursor: pointer;
    border-width:5px;
}


#jeu-container {

    
    width: 96%; /* Largeur de 80% de l'écran */
    height: 85%; /* Hauteur de 500px */
    flex-direction: column; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    overflow: hidden;
}


*{
    margin: 0;
    padding: 0;                                          
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    background-image: url("assets/backgroundgameplate.png");

   /* background-image: url("../../resources/gallery/room/bedroom/minigame/gameplate/gameplatebackground.png");*/
    background-position: center;
  }

#plateau {
    
    display: grid;
    grid-template-columns: repeat(5, 73px); 
    grid-template-rows: repeat(5, 73Px);
    gap: 2px; 
    background: url("assets/gameplate.jpg") center center no-repeat; 
    background-size: cover; 
}


.case {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: relative;
}

.joueur {
    width: 75%;
    height: 75%;
    background: url("assets/gameplateplayer.png") center center no-repeat;
    background-size: contain;
}

.ennemi {
    width: 75%;
    height: 75%;
    background: url("assets/gameplatebot.png") center center no-repeat;
    background-size: contain;
}

#message {
  
    font-size: 18px;
    color: #333;
    text-align: center;
    font-family: 'MaryKate', sans-serif; 
}


