#jeu-container {
    display: flex;
    flex-direction: column; /* Aligne le plateau et le message verticalement */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Utilise toute la hauteur de l'écran */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MaryKate', sans-serif;                                           
    font-weight: 750;
    font-style: normal;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin-top: 30px;
    font-size: 5em;
}

body {
    color: #f3e2e2;
    text-align: center;
    background-image: url("../../resources/gallery/");

  }

#plateau {
    display: grid;
    grid-template-columns: repeat(5, 100px); /* Plateau 5x5 avec chaque case 100px */
    grid-template-rows: repeat(5, 100px);
    gap: 2px; /* Espacement entre les cases */
    background: url("../../resources/gallery/gameplate.png") center center no-repeat; /* Image de fond */
    background-size: cover; /* Adapte l'image */
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Couleur de fond */
}

.case {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: relative;
}

.joueur {
    width: 100%;
    height: 100%;
    background: url('../../resources/gallery/gameplateplayer.png') center center no-repeat;
    background-size: contain;
}

.ennemi {
    width: 100%;
    height: 100%;
    background: url('../../resources/gallery/gameplatebot.png') center center no-repeat;
    background-size: contain;
}

#message {
    margin-top: 20px; /* Ajoute un espace entre le plateau et le message */
    font-size: 18px;
    color: #333;
    text-align: center;
}
